p.welcome{
	color: #fff
	background-color: #fff;
	font-weight: bold;
	font-family: 'Panton', sans-serif;
}

h1.title{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 75px
	padding-top: 50px;
	margin: 15px;

}

body{
	/*background: url("https://i.imgur.com/Xi12KFH.jpg") no-repeat;*/
	background-size: 100%;
	background-color: #151515;
}






@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}

@font-face {
    font-family: 'Panton ';
    src: local('Panton  Regular'), local('Panton--Regular'),
        url('Panton-Regular.woff2') format('woff2'),
        url('Panton-Regular.woff') format('woff'),
        url('Panton-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


nav.menu-nav ul li.btn{
	display: inline-block;
	font-family: 'Panton', sans-serif;
	font-weight: bold;
	font-size: 40px
	padding-top: 10px;
	margin: 20px;

}

nav.menu-nav ul li.btn a{
	color: white;
	text-decoration: none;
}

nav.menu-nav ul li.btn{
	list-style-type: none;
}


/*nav.menu-nav ul li.btn:hover a{
	color: #40A497;
	background color: white;
	transition: 0.8s all;
	font-size: 18px
	-webkit-transition: color 0.5s linear;
	
}*/


nav.menu-nav ul li.btn a{
    color: #fff;
    transition: color 0.5s ease-in-out;
    font-size: 18px

}

nav.menu-nav ul li.btn a{
    color: #fff;
    transition: font 0.5s ease-in-out;
    font-size: 18px

}

nav.menu-nav ul li.btn:hover a {
    color: #40A497;
    transition: font-size 0.5s ease-in-out ;
    font-size: 20px
}



footer{
	color: #fff;
	font-weight: bold;
	font-family: 'Panton', sans-serif;
	/*display : table-row;*/
	/*height: 500px; */
	position:absolute;
	bottom:0;  
	width:100%;
	margin: 20px
	height:100px;

}

div#content div.annonce{
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;

	font-weight: bold;


}

div#content div.para2{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #B5B5B5;
	text-align: center;
	opacity: 0.7
	font-weight: bold;



}

<div para2="text-align:center">

</div>
<div annonce="text-align:center">

</div>

div#content div{
	display: inline-block;
	width: 48%;


}









